<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>图表组件</title>
    <meta name="description" content="">

    <link rel="stylesheet" href="/semantic/packaged/css/semantic.css">

    <script type="text/javascript" src="/lib/excanvas-ie8.js"></script>
	
	<style type="text/css">
		canvas {
			background: #eee;
		}
	</style>

</head>
<body>

    
    <canvas width="550" height="400" id="pieCanvas"></canvas>
    <canvas width="550" height="400" id="doughnutCanvas"></canvas>
    <canvas width="550" height="400" id="barCanvas"></canvas>
    
    
    <script src="/seajs/sea.js" data-config="/js/config" data-main="/js/chart" ></script> 

</body>
</html>