<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title><%= title %></title>
        <meta name="description" content="">

        <link rel="stylesheet" href="/semantic/packaged/css/semantic.css">

        <!-- Le fav and touch icons -->
        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/icon/apple-touch-icon-144-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/icon/apple-touch-icon-114-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/icon/apple-touch-icon-72-precomposed.png">
        <link rel="apple-touch-icon-precomposed" href="/icon/apple-touch-icon-57-precomposed.png">
        <link rel="shortcut icon" href="/icon/favicon.ico">
    </head>
    <body>

        <i class="archive huge icon"></i>
        <i class="attachment huge icon"></i>
        <i class="browser huge icon"></i>
        <i class="bug huge icon"></i>
        <i class="calendar huge icon"></i>
        <i class="cart huge icon"></i>
        <i class="certificate huge icon"></i>
        
        <i class="apple huge icon"></i>
        

        <i class="disabled huge users icon"></i>


        <i class="huge close link icon"></i>

        <i class="huge cloud icon"></i>
        <i class="horizontally huge flipped cloud icon"></i>
        <i class="vertically huge flipped cloud icon"></i>


        <i class="circular huge users icon"></i>
        <i class="circular huge teal users icon"></i>
        <i class="circular huge inverted users icon"></i>
        <i class="circular huge inverted teal users icon"></i>

        <i class="square huge users icon"></i>
        <i class="square huge teal users icon"></i>
        <i class="square huge inverted users icon"></i>
        <i class="square huge inverted teal users icon"></i>

        <i class="black huge users icon"></i>
        <i class="blue huge user icon"></i>
        <i class="red huge users icon"></i>
        <i class="green huge user icon"></i>
        <i class="purple huge chat icon"></i>
        <i class="teal huge comment icon"></i>

        <i class="inverted huge black users icon"></i>
        <i class="inverted huge blue user icon"></i>
        <i class="inverted huge red users icon"></i>
        <i class="inverted huge green user icon"></i>
        <i class="inverted huge purple chat icon"></i>
        <i class="inverted huge teal comment icon"></i>

        <img src="/img/photo.jpg" class="ui medium image" alt="">

        <a href="www.baidu.com" class="ui medium image">
            <img src="/img/photo.jpg" alt="">
        </a>

        <img src="/img/photo.jpg" class="medium disabled ui image" alt="">

        <img src="/img/photo2.jpg" class="ui avatar image" alt="">
        <img src="/img/photo2.jpg" class="ui rounded image" alt="">
        <img src="/img/photo2.jpg" class="ui circular image" alt="">

        <div class="ui small images">
            <img src="/img/photo.jpg" class="ui image" alt="">
            <img src="/img/photo.jpg" class="ui image" alt="">
            <img src="/img/photo.jpg" class="ui image" alt="">
            <img src="/img/photo.jpg" class="ui image" alt="">
        </div>




        
		
        <script src="/lib/jquery.js"></script>
        <script src="/semantic/packaged/javascript/semantic.js"></script>
        <script src="/seajs/sea.js" data-config="/js/config" data-main="/js/index" ></script>
        

    </body>
</html>