<div class="ui small fixed transparent inverted main menu">
    <div class="ui page grid">
        <a href="/home" class="icon item">
            <i class="lemon icon"></i>&nbsp;微糖
        </a>

        <div class="item">
            <div class="ui icon input">
                <input type="text" placeholder="搜索问题..." style="width: 300px;">
                <i class="search icon"></i>
            </div>
        </div>

        <a href="/ask" target="_blank" class="item">
            <div class="ui teal button">提问</div>
        </a>

        <a href="/home" class="icon item linkHome">问答</a>

        <a href="/topic" class="item linkTopic">话题</a>

        <a href="/explore" class="item linkExplore">发现</a>

        <div class="right menu">
            <div class="ui dropdown item">
                <i class="icon user"></i>
                我的微糖
                <i class="dropdown icon"></i>
                <div class="menu ui transition hidden">
                    <div class="item">
                        <i class="user icon"></i>我的主页
                    </div>
                    <div class="item">
                        <i class="mail icon"></i>私信
                    </div>
                    <a href="/settings/account" class="item">
                        <i class="setting icon"></i>设置
                    </a>
                    <a href="/api/logout" class="item">
                        <i class="off icon"></i>退出
                    </a>

                </div>
            </div>

        </div>
    </div>
</div>
<script type="text/javascript">
    $(function() {
         $('.ui.dropdown').dropdown({
            on: 'hover'
        });

        var href = window.location.href;
        if(/home/.test(href)) {
            $('.linkHome').addClass('active');
        };
        if(/topic/.test(href)) {
            $('.linkTopic').addClass('active');
        }
        if(/explore/.test(href)) {
            $('.linkExplore').addClass('active');
        }
    });
</script>