<div class="ui large fixed transparent inverted main menu">
    <div class="ui page grid">
        <a href="/" class="icon item">
            <i class="lemon icon"></i>&nbsp;微糖
        </a>

        <div class="item">
            <div class="ui icon input">
                <input type="text" placeholder="搜索问题..." style="width: 300px;">
                <i class="search icon"></i>
            </div>
        </div>

        <div class="item">
            <div class="ui teal button">搜索</div>
        </div>

        <a href="/" class="icon item">
            <i class="home icon"></i>
            首页
        </a>

        <a href="" class="item">话题</a>

        <a href="" class="item">发现</a>

        <div class="right menu">
            <div class="ui dropdown item">
                <i class="icon user"></i>
                我的微糖
                <i class="dropdown icon"></i>
                <div class="menu ui transition hidden">
                    <div class="item">
                        <i class="user icon"></i>我的主页
                    </div>
                    <div class="item">
                        <i class="mail icon"></i>私信
                    </div>
                    <a href="/settings/account" class="item">
                        <i class="setting icon"></i>设置
                    </a>
                    <a href="/api/logout" class="item">
                        <i class="off icon"></i>退出
                    </a>

                </div>
            </div>

        </div>
    </div>
</div>
<script type="text/javascript">
    $(function() {
         $('.ui.dropdown').dropdown({
            on: 'hover'
        });
    });
</script>