<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="initial-scale=1, width=device-width, maximum-scale=1, minimum-scale=1, user-scalable=no">
    <title>微糖-分享知识，分享快乐</title>
    <meta name="description" content="">
    
    <link rel="stylesheet" href="/semantic/packaged/css/semantic.css">
    <link rel="stylesheet" href="/css/onepage-scroll.css">
    <link rel="stylesheet" href="/css/index.css">

    <!-- Le fav and touch icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/icon/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/icon/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/icon/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="/icon/apple-touch-icon-57-precomposed.png">
    <link rel="shortcut icon" href="/icon/favicon.ico">

    <script src="/lib/jquery.min.js"></script>
    <script src="/lib/jquery.onepage-scroll.min.js"></script>
    <script>
        $(function() {
            var $main = $('.main');
            $main.onepage_scroll({
                sectionContainer: "section",
                animationTime: 800,
                responsiveFallback: 600,
                pagination: true,
                updateURL: false
            });

            //$main.moveDown();
        });
    </script>
</head>
<body>

    <div class="main">
        <section class="page1">
            <div class="page_container">
                <div class="ui header">
                    <i class="logo icon"></i>
                </div>
                <div class="ui form segment">
                    <h3 class="ui teal header">微糖登录</h3>
                    <div class="field">
                        <label>用户名</label>
                        <div class="ui left labeled icon input">
                            <input type="text" placeholder="用户名/邮箱" class="username">
                            <i class="user icon"></i>
                        </div>
                    </div>
                    <div class="field">
                        <label>密码</label>
                        <div class="ui left labeled icon input">
                            <input type="password" placeholder="密码" class="password">
                            <i class="lock icon"></i>
                        </div>
                    </div>
                    <div class="ui small warning message">
                        <i class="icon attention"></i>请输入用户名
                    </div>
                    <div class="ui button signup">
                        注&nbsp;&nbsp;&nbsp;册
                    </div>
                    <script type="text/javascript">
                        $('.signup.button').click(function() {
                            $('.main').moveDown();
                            setTimeout(function() {
                                $('.page2 .form').fadeIn();
                            }, 500);
                        });
                    </script>
                    <div class="ui blue submit button signin">
                        登&nbsp;&nbsp;&nbsp;录
                    </div>
                </div>
            </div>
        </section>
        <section class="page2">
            <div class="page_container">
                <img src="/img/zaiyiqi.png" class="zaiyiqi">
                <div class="huge green ui labeled icon button signup">
                    <i class="signup icon"></i>
                    加入我们
                </div>
                <div class="ui form segment">
                    <h3 class="ui teal header">微糖注册</h3>
                    <div class="inline field">
                        <label>用户名</label>
                        <div class="ui left labeled icon input">
                            <input type="text" placeholder="用户名" class="username inputPage2">
                            <i class="user icon"></i>
                        </div>
                    </div>
                    <div class="inline field">
                        <label>密码</label>
                        <div class="ui left labeled icon input">
                            <input type="password" placeholder="密码" class="password inputPage2">
                            <i class="lock icon"></i>
                        </div>
                    </div>
                    <div class="inline field">
                        <label>确认密码</label>
                        <div class="ui left labeled icon input">
                            <input type="password" placeholder="密码" class="rePassword inputPage2">
                            <i class="lock icon"></i>
                        </div>
                    </div>
                    <div class="inline field">
                        <label>电子邮箱</label>
                        <div class="ui left labeled icon input">
                            <input type="text" placeholder="电子邮箱" class="email inputPage2">
                            <i class="mail icon"></i>
                        </div>
                    </div>
                    <div class="ui small warning message">
                        <i class="icon attention"></i>
                    </div>
                    <div class="ui blue submit button signup">
                        注&nbsp;&nbsp;&nbsp;册
                    </div>
                </div>
            </div>
        </section>
        <section class="page3">
            <div class="page_container">
                
            </div>
        </section>
    </div>
    
    
    
    <script src="/seajs/sea.js" data-config="/js/config" data-main="/js/index" ></script>
</body>
</html>