<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>微糖-分享知识，分享快乐</title>
    <meta name="description" content="">
    
    <link rel="stylesheet" href="/semantic/packaged/css/semantic.css">
    <link rel="stylesheet" href="/css/onepage-scroll.css">
    <link rel="stylesheet" href="/css/login.css">

    <!-- Le fav and touch icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/icon/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/icon/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/icon/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="/icon/apple-touch-icon-57-precomposed.png">
    <link rel="shortcut icon" href="/icon/favicon.ico">

    <script src="/lib/jquery.min.js"></script>
    <script src="/lib/jquery.onepage-scroll.min.js"></script>
</head>
<body>

    <div class="main">
        <section class="page1">
            <div class="page_container">
                <div class="ui header">
                    <i class="logo icon"></i>
                </div>
                
                <div class="ui form segment">
                    <h3 class="ui header">帐号登录</h3>
                    <div class="field">
                        <label>用户名</label>
                        <div class="ui left labeled icon input">
                            <input type="text" placeholder="用户名/手机/邮箱" id="username">
                            <i class="user icon"></i>
                        </div>
                    </div>
                    <div class="field">
                        <label>密码</label>
                        <div class="ui left labeled icon input">
                            <input type="password" placeholder="密码" id="password">
                            <i class="lock icon"></i>
                        </div>
                    </div>
                    <div class="ui small warning message" id="warning">
                        <i class="icon attention"></i>请输入用户名
                    </div>
                    <div class="ui green submit button" id="loginBtn">登&nbsp;&nbsp;&nbsp;录</div>
                </div>
                
            </div>
        </section>
        <section class="page2">
            

        </section>
        <section class="page3">


        </section>
    </div>

    
    <script src="/seajs/sea.js" data-config="/js/config" data-main="/js/login" ></script>
</body>
</html>