<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title><%= title %></title>
        <meta name="description" content="">

        <link rel="stylesheet" href="/semantic/packaged/css/semantic.css">
        <link rel="stylesheet" href="/semantic/uncompressed/elements/button.css">

        <!-- Le fav and touch icons -->
        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/icon/apple-touch-icon-144-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/icon/apple-touch-icon-114-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/icon/apple-touch-icon-72-precomposed.png">
        <link rel="apple-touch-icon-precomposed" href="/icon/apple-touch-icon-57-precomposed.png">
        <link rel="shortcut icon" href="/icon/favicon.ico">

        <script src="/lib/jquery.js"></script>
        <script src="/semantic/packaged/javascript/semantic.js"></script>
    </head>
    <body>
        
        <main class="ui three column grid">
            <aside class="column">1</aside>
            <section class="column">2</section>
            <section class="column">3</section>
        </main>

        <nav class="ui menu">
            <h3 class="header item">Title</h3>
            <a href="" class="active item">Home</a>
            <a href="" class="item">Link</a>
            <a href="" class="item">Link</a>
            <span class="right floated text item">Signed in as <a href="">user</a></span>
        </nav>
        
        <button class="large ui button">
            <i class="heart icon"></i>
            Like it
        </button>

        <div class="large ui buttons">
            <div class="ui button">Cancel</div>
            <div class="ui button">Continue</div>
        </div>

        <div class="ui menu">
            <a href="" class="item">Home</a>
            <a href="" class="item">Inbox</a>
        </div>

        <div class="ui compact menu">
            <a href="" class="item">Home</a>
            <a href="" class="item">Inbox</a>
        </div>

        <div class="ui label">22</div>
        <div class="ui label">New</div>

        <div class="ui compact menu">
            <a href="" class="item">Home</a>
            <a href="" class="item">Inbox
                <div class="ui label">22</div>
            </a>
        </div>

        <div class="ui blue pointing secondary demo menu">
            <a href="" class="active item" data-tab="first">First</a>
            <a href="" class="item" data-tab="second">Second</a>
            <a href="" class="item" data-tab="third">Third</a>
        </div>
        <div class="ui active tab segment" data-tab="first">First</div>
        <div class="ui tab segment" data-tab="second">Second</div>
        <div class="ui tab segment" data-tab="third">Third</div>

        <script type="text/javascript">
            //$(".demo.menu .item").tab('change tab','second');
            $('.demo.menu .item').tab();
        </script>

        <div class="ui labeled icon button">
            Download
            <i class="download icon"></i>
        </div>
        <div class="ui icon button">
            <i class="download icon"></i>
        </div>
        <div class="ui button">
            Download
        </div>
        <div class="ui facebook button">
            <i class="facebook icon"></i>
            Facebook
        </div>

        <!-- ========================================================= -->
        <div class="ui icon menu">
            <a href="" class="item">
                <i class="mail icon"></i>
            </a>
            <a href="" class="item">
                <i class="lab icon"></i>
            </a>
            <a href="" class="item">
                <i class="star icon"></i>
            </a>
        </div>

        <!-- ========================================================= -->
        <div class="ui tiered menu">
            <div class="menu">
                <div class="active item">
                    <i class="home icon"></i>
                    Home
                </div>
                <a href="" class="item">
                    <i class="mail icon"></i>
                    Mail
                    <span class="ui label">22</span>
                </a>
            </div>
            <div class="sub menu">
                <div class="active item">Activity</div>
                <a href="" class="item">Profile</a>
            </div>
        </div>
        
        <!-- ========================================================= -->
        <div class="ui compact tiered menu">
            <div class="menu">
                <div class="active item">
                    <i class="home icon"></i>
                    Home
                </div>
                <a href="" class="item">
                    <i class="mail icon"></i>
                    Mail
                    <span class="ui label">22</span>
                </a>
            </div>
            <div class="sub menu">
                <div class="active item">Activity</div>
                <a href="" class="item">Profile</a>
            </div>
        </div>

        <!-- ========================================================= -->
        <div class="ui red tiered menu">
            <div class="menu">
                <div class="active item">
                    <i class="home icon"></i>
                    Home
                </div>
                <a href="" class="item">
                    <i class="mail icon"></i>
                    Mail
                    <span class="ui label">22</span>
                </a>
            </div>
            <div class="sub menu">
                <div class="active item">Activity</div>
                <a href="" class="item">Profile</a>
            </div>
        </div>

        <!-- ========================================================= -->
        <div class="ui blue inverted tiered menu">
            <div class="menu">
                <div class="active item">
                    <i class="home icon"></i>
                    Home
                </div>
                <a href="" class="item">
                    <i class="mail icon"></i>
                    Mail
                    <span class="ui label">22</span>
                </a>
            </div>
            <div class="sub menu">
                <div class="active item">Activity</div>
                <a href="" class="item">Profile</a>
            </div>
        </div>
        
        <!-- ========================================================= -->
        <div class="ui button follow">Follow</div>
        <script type="text/javascript">
            $('.follow.button').state({
                text: {
                    inactive: 'Follow',
                    active: 'Following'
                }
            });
        </script>

        <!-- ========================================================= -->
        <div class="ui animated button">
            <div class="visible content">Next</div>
            <div class="hidden content">
                <i class="right arrow icon"></i>
            </div>
        </div>

        <!-- ========================================================= -->
        <div class="ui icon button">
            <i class="cloud icon"></i>
        </div>

        <!-- ========================================================= -->
        <div class="ui labeled icon button">
            <i class="pause icon"></i>
            Pause
        </div>
        <div class="ui right labeled icon button">
            <i class="right arrow icon"></i>
            Next
        </div>

        <!-- ========================================================= -->
        <div class="ui buttons">
            <div class="ui button">One</div>
            <div class="ui button">Two</div>
            <div class="ui button">Three</div>
        </div>
        
        <script type="text/javascript">
            $('.ui.buttons .button').on('click', function() {
                $(this).addClass('active').siblings().removeClass('active');
            })
        </script>

        <!-- ========================================================= -->
        <div class="ui icon buttons">
            <div class="ui button"><i class="align left icon"></i></div>
            <div class="ui button"><i class="align center icon"></i></div>
            <div class="ui button"><i class="align right icon"></i></div>
            <div class="ui button"><i class="align justify icon"></i></div>
        </div>
        <div class="ui icon buttons">
            <div class="ui button"><i class="bold icon"></i></div>
            <div class="ui button"><i class="underline icon"></i></div>
            <div class="ui button"><i class="text width icon"></i></div>
        </div>

        <script type="text/javascript">
            $('.ui.buttons .button').on('click', function() {
                $(this).addClass('active').siblings().removeClass('active');
            })
        </script>
    
        <!-- ========================================================= -->
        <div class="ui buttons">
            <div class="ui button">Cancel</div>
            <div class="or"></div>
            <div class="ui positive button">Save</div>
        </div>

        <script type="text/javascript">
            $('.ui.buttons .button').on('click', function() {
                $(this).addClass('active').siblings().removeClass('active');
            })
        </script>

        <!-- ========================================================= -->
        <div class="ui button">
            Follow
        </div>

        <!-- ========================================================= -->
        <div class="ui down button">
            <i class="user icon"></i>
            Follow
        </div>

        <!-- ========================================================= -->
        <div class="ui active button">
            <i class="user icon"></i>
            Follow
        </div>

        <!-- ========================================================= -->
        <div class="ui disabled button">
            <i class="user icon"></i>
            Followed
        </div>

        <!-- ========================================================= -->
        <div class="ui loading button">Loading Button</div>

        <!-- ========================================================= -->
        <div class="ui facebook button">
            <i class="facebook icon"></i>
            Facebook
        </div>
        <div class="ui twitter button">
            <i class="twitter icon"></i>
            Twitter
        </div>
        <div class="ui google plus button">
            <i class="google plus icon"></i>
            Google
        </div>
        <div class="ui linkedin button">
            <i class="linkedin icon"></i>
            LinkedIn
        </div>
        <div class="ui instagram button">
            <i class="instagram icon"></i>
            Instagram
        </div>
        <div class="ui youtube button">
            <i class="youtube icon"></i>
            YouTuBe
        </div>

        <!-- ========================================================= -->
        <div class="ui toggle button">
            Vote
        </div>

        <script type="text/javascript">
            $('.toggle.button').state({
                text: {
                    inactive: 'Vote',
                    active: 'Voted'
                }
            })
        </script>

        <!-- ========================================================= -->
        <div class="fluid ui button">Fits container</div>

        <!-- ========================================================= -->
        <div class="circular ui button">Rounded</div>
        <div class="circular ui icon button">
            <i class="settings icon"></i>
        </div>
        
        <!-- ========================================================= -->
        <div class="ui segment">
            
        </div>

        <!-- ========================================================= -->
        <div class="ui input">
            <input type="text" placeholder="Search...">
        </div>
        
        <div class="ui input focus">
            <input type="text" placeholder="Search...">
        </div>
        
        <div class="ui icon input loading">
            <input type="text" placeholder="Search...">
            <i class="icon"></i>
        </div>

        <div class="ui icon input">
            <input type="text" placeholder="Search...">
            <i class="search icon"></i>
        </div>
        
        <div class="ui left icon input">
            <input type="text" placeholder="Search users...">
            <i class="users icon"></i>
        </div>

        <div class="ui labeled input">
            <input type="text" placeholder="Search...">
            <div class="ui corner label">
                <i class="asterisk icon"></i>
            </div>
        </div>

        <div class="ui labeled input">
            <input type="text" placeholder="Search...">
            <div class="ui corner label">
                <div class="text">New</div>
            </div>
        </div>

        <!-- ========================================================= -->
        <div class="ui label">
            <i class="mail icon"></i>
            23
        </div>

        <div class="ui label">
            Dogs
            <div class="detail">214</div>
        </div>
        
        <div class="ui label">
            Witty
            <i class="delete icon"></i>
        </div>

        <div class="ui label">
            Inbox
            <a href="" class="detail">
                <i class="mail icon"></i>
            </a>
        </div>

        <a href="" class="ui image label">
            <img src="/img/photo.jpg" alt="">
            dog@doggington.com
            <i class="delete icon"></i>
        </a>

        <div class="ui raised segment">
            <div class="ui ribbon label">Dogs</div>
            <p>Pretty nice animals.</p>
            <div class="ui teal ribbon label">Cats</div>
            <p>Also pretty nice animals, but can prefer solitude.</p>
            <div class="ui red ribbon label">Ogres and monsters</div>
            <p>Never seen one as a pet before, but I imagine they'd make pretty terrible companions.</p>
        </div>

        <div class="ui black label">
            First
        </div>

        <div class="ui green label">Fun</div>
        <div class="ui red label">Happy</div>
        <div class="ui blue label">New</div>
        <div class="ui orange label">Year</div>
        <div class="ui teal label">Exciting</div>

        <a href="" class="ui black circular label">12</a>
        <a href="" class="ui green circular label">11</a>
        <a href="" class="ui red circular label">999</a>
        

        <div class="ui black circular label"></div>
        <div class="ui green circular label"></div>
        <div class="ui red circular label"></div>
        <div class="ui blue circular label"></div>
        <div class="ui purple circular label"></div>
        <div class="ui teal circular label"></div>

        <div class="ui compact menu">
            <a href="" class="item">
                <i class="icon mail"></i>
                Messages
                <div class="floating ui red label">22</div>
            </a>
            <a href="" class="item">
                <i class="icon users"></i>
                Friends
                <div class="floating ui teal label">22</div>
            </a>
        </div>

        <div class="ui fluid form">
            <div class="field">
                <input type="text" placeholder="First name">
                <div class="ui pointing label">
                    Please enter a value
                </div>
            </div>
        </div>

        <div class="ui small label">
            Fun
        </div>
        <div class="ui large label">
            Fun
        </div>

        <div class="ui large labels">
            <div class="ui label">Fun</div>
            <div class="ui label">Happy</div>
            <div class="ui label">Smart</div>
            <div class="ui label">Witty</div>
        </div>

        <div class="ui blue labels">
            <a href="" class="ui label">
                Fun
                <i class="icon close"></i>
            </a>
            <a href="" class="ui label">
                Smart
            </a>
            <a href="" class="ui label">
                Insane
            </a>
        </div>
        

        <div class="ui segment">
            <div class="ui active dimmer">
                <div class="ui loader"></div>
            </div>
        </div>

        <div class="ui segment">
            <div class="ui active dimmer">
                <div class="ui text loader">Loading</div>
            </div>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros. Nullam malesuada erat ut turpis. Suspendisse urna nibh, viverra non, semper suscipit, posuere a, pede.</p>
        </div>

        <div class="ui progress">
            <div class="bar"></div>
        </div>

        <div class="ui active progress">
            <div class="bar"></div>
        </div>

        <div class="ui active striped progress">
            <div class="bar" style="width: 30%;"></div>
        </div>


        <div class="ui fade reveal">
            <img src="/img/invention.jpg" alt="" class="visible content">
            <img src="/img/title.png" alt="" class="hidden content">
        </div>

        <div class="ui move reveal">
            <img src="/img/invention.jpg" alt="" class="visible content">
            <img src="/img/title.png" alt="" class="hidden content">
        </div>

        <div class="ui move right reveal">
            <img src="/img/invention.jpg" alt="" class="visible content">
            <img src="/img/title.png" alt="" class="hidden content">
        </div>

        <div class="ui move up reveal">
            <img src="/img/invention.jpg" alt="" class="visible content">
            <img src="/img/title.png" alt="" class="hidden content">
        </div>

        <div class="ui move down reveal">
            <img src="/img/invention.jpg" alt="" class="visible content">
            <img src="/img/title.png" alt="" class="hidden content">
        </div>

        <div class="ui circular rotate reveal image">
            <img src="/img/stickfigure.jpg" alt="" class="visible content">
            <img src="/img/photo2.jpg" alt="" class="hidden content">
        </div>

        <div class="ui segment">
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros. Nullam malesuada erat ut turpis. Suspendisse urna nibh, viverra non, semper suscipit, posuere a, pede.</p>
        </div>

        <div class="ui piled segment">
            <h2>A header</h2>
            <p>Te eum doming eirmod, nominati pertinacia argumentum ad his. Ex eam alia facete scriptorem, est autem aliquip detraxit at. Usu ocurreret referrentur at, cu epicurei appellantur vix. Cum ea laoreet recteque electram, eos choro alterum definiebas in. Vim dolorum definiebas an. Mei ex natum rebum iisque.</p>
            <p>Audiam quaerendum eu sea, pro omittam definiebas ex. Te est latine definitiones. Quot wisi nulla ex duo. Vis sint solet expetenda ne, his te phaedrum referrentur consectetuer. Id vix fabulas oporteat, ei quo vide phaedrum, vim vivendum maiestatis in.</p>
            <p>Eu quo homero blandit intellegebat. Incorrupte consequuntur mei id. Mei ut facer dolores adolescens, no illum aperiri quo, usu odio brute at. Qui te porro electram, ea dico facete utroque quo. Populo quodsi te eam, wisi everti eos ex, eum elitr altera utamur at. Quodsi convenire mnesarchum eu per, quas minimum postulant per id.</p>
        </div>

        <div class="ui stacked segment">
            <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.</p>
        </div>

        <div class="ui raised segment">
            <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.</p>
        </div>

        <div class="ui steps">
            <div class="ui step">Shipping</div>
            <div class="ui active step">Billing</div>
            <div class="ui disabled step">Confirm Order</div>
            <div class="ui disabled step">Complete</div>
        </div>

        <div class="ui four steps">
            <div class="ui active step">Shipping</div>
            <div class="ui disabled step">Billing</div>
            <div class="ui disabled step">Confirm Order</div>
            <div class="ui disabled step">Complete</div>
        </div>


        <div class="ui breadcrumb">
            <a href="" class="section">Food</a>
            <div class="divider">/</div>
            <a href="" class="section">Fruit</a>
            <div class="divider">/</div>
            <div class="active section">Apples</div>
        </div>
    
        <div class="ui form segment">
            <div class="field">
                <label for="">Username</label>
                <div class="ui left labeled icon input">
                    <input type="text" placeholder="Username">
                    <i class="user icon"></i>
                    <div class="ui corner label">
                        <i class="icon asterisk"></i>
                    </div>
                </div>
            </div>
            <div class="field">
                <label for="">Password</label>
                <div class="ui left labeled icon input">
                    <input type="password">
                    <i class="lock icon"></i>
                    <div class="ui corner label">
                        <i class="icon asterisk"></i>
                    </div>
                </div>
            </div>
            <div class="ui error message">
                <div class="header">We noticed some issues</div>
            </div>
            <div class="ui blue submit button">Login</div>
        </div>

        <div class="ui form">
            <div class="field">
                <label for="">User Input</label>
                <input type="text">
            </div>
        </div>

        <div class="ui form">
            <div class="field">
                <label for="">Text</label>
                <textarea name="" id="" cols="30" rows="10"></textarea>
            </div>
        </div>


        <div class="ui loading form segment">
            <div class="two fields">
                <div class="field">
                    <label>First Name</label>
                    <input placeholder="First Name" type="text">
                </div>
                <div class="field">
                    <label>Last Name</label>
                    <input placeholder="Last Name" type="text">
                </div>
            </div>
            <div class="field">
                <label>Username</label>
                <input placeholder="Username" type="text">
            </div>
            <div class="field">
                <label>Password</label>
                <input type="password">
            </div>
            <div class="inline field">
                <div class="ui checkbox">
                    <input type="checkbox">
                    <label>I agree to the terms and conditions</label>
                </div>
            </div>
            <div class="ui blue submit button">Submit</div>
        </div>

        
















        
        <script src="/seajs/sea.js" data-config="/js/config" data-main="/js/index" ></script>
        

    </body>
</html>