<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title><%= title %></title>
        <meta name="description" content="">

        <link rel="stylesheet" href="/semantic/packaged/css/semantic.css">
        <link rel="stylesheet" href="/semantic/uncompressed/elements/button.css">

        <!-- Le fav and touch icons -->
        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/icon/apple-touch-icon-144-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/icon/apple-touch-icon-114-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/icon/apple-touch-icon-72-precomposed.png">
        <link rel="apple-touch-icon-precomposed" href="/icon/apple-touch-icon-57-precomposed.png">
        <link rel="shortcut icon" href="/icon/favicon.ico">

        <script src="/lib/jquery.js"></script>
        <script src="/semantic/packaged/javascript/semantic.js"></script>
    </head>
    <body>
        
        <h3>一个简单的菜单</h3>

        <div class="ui menu">
            <a href="" class="item">Home</a>
            <a href="" class="item">Inbox</a>
        </div>
        
        <h3>A COMPACT MENU VARIATION</h3>
        <div class="ui compact menu">
            <a href="" class="item">Home</a>
            <a href="" class="item">Inbox</a>
        </div>

        <h3>Using a UI Label inside a UI Menu</h3>

        <div class="ui compact menu">
            <a href="" class="item">Home</a>
            <a href="" class="item">Inbox
                <div class="ui label">22</div>
            </a>
        </div>
    
        <h3>Semantic APIs</h3>

        <div class="ui pointing secondary demo menu">
            <a href="" class="active red item" data-tab="first">First</a>
            <a href="" class="blue item" data-tab="second">Second</a>
            <a href="" class="green item" data-tab="third">Third</a>
        </div>
        <div class="ui active tab segment" data-tab="first">First</div>
        <div class="ui tab segment" data-tab="second">Second</div>
        <div class="ui tab segment" data-tab="third">Third</div>
        
        <script>
            $('.demo.menu .item').tab();
        </script>
        <!-- ========================end============================ -->

        <h3>Types of UI Button</h3>
        <div class="ui labeled icon button">
            Download <i class="download icon"></i>
        </div>
        <div class="ui icon button">
            <i class="download icon"></i>
        </div>
        <div class="ui button">Download</div>
        <div class="ui facebook button">
            <i class="facebook icon"></i>
            facebook
        </div>
        <!-- ========================end============================ -->

        <h3>Icon Menu type</h3>

        <div class="ui icon menu">
            <a href="" class="item">
                <i class="mail icon"></i>
            </a>
            <a href="" class="item">
                <i class="lab icon"></i>
            </a>
            <a href="" class="item">
                <i class="star icon"></i>
            </a>
        </div>

        <!-- ========================end============================ -->
        <h3>Tiered menu type</h3>
        <div class="ui tiered menu">
            <div class="menu">
                <div class="active item">
                    <i class="home icon"></i>
                    Home
                </div>
                <div class="item">
                    <i class="mail icon"></i>
                    Mail
                    <span class="ui label">22</span>
                </div>
            </div>
            <div class="sub menu">
                <div class="active item">Activity</div>
                <a href="" class="item">Profile</a>
            </div>
        </div>

        <div class="ui compact tiered menu">
            <div class="menu">
                <div class="active item">
                    <i class="home icon"></i>
                    Home
                </div>
                <div class="item">
                    <i class="mail icon"></i>
                    Mail
                    <span class="ui label">22</span>
                </div>
            </div>
            <div class="sub menu">
                <div class="active item">Activity</div>
                <a href="" class="item">Profile</a>
            </div>
        </div>
        
        <div class="ui red inverted tiered menu">
            <div class="menu">
                <div class="active item">
                    <i class="home icon"></i>
                    Home
                </div>
                <div class="item">
                    <i class="mail icon"></i>
                    Mail
                    <span class="ui label">22</span>
                </div>
            </div>
            <div class="sub menu">
                <div class="active item">Activity</div>
                <a href="" class="item">Profile</a>
            </div>
        </div>

        <div class="ui red tiered menu">
            <div class="menu">
                <div class="active item">
                    <i class="home icon"></i>
                    Home
                </div>
                <div class="item">
                    <i class="mail icon"></i>
                    Mail
                    <span class="ui label">22</span>
                </div>
            </div>
            <div class="sub menu">
                <div class="active item">Activity</div>
                <a href="" class="item">Profile</a>
            </div>
        </div>

        <!-- ========================end============================ -->
        <h3>一个标准的按钮</h3>

        <div class="ui button">
            Follow
        </div>
        
        <!-- ========================end============================ -->
        <h3>A button can animate to show hidden content</h3>

        <div class="ui animated button">
            <div class="visible content">Next</div>
            <div class="hidden content">
                <i class="right arrow icon"></i>
            </div>
        </div>

        <div class="ui vertical animated button">
            <div class="hidden content">Shop</div>
            <div class="visible content">
                <i class="cart icon"></i>
            </div>
        </div>

        <div class="ui animated fade button">
            <div class="visible content">Sign-up for a Pro account</div>
            <div class="hidden content">
                $12.99 a month
            </div>
        </div>
        
        <!-- ========================end============================ -->
        <h3>仅有图标的按钮</h3>
        <div class="ui icon button">
            <i class="cloud icon"></i>
        </div>

        <!-- ========================end============================ -->
        <h3>带有图标和标签的按钮</h3>
        <div class="ui labeled icon button">
            <i class="pause icon"></i>
            Pause
        </div>
        <div class="ui right labeled icon button">
            <i class="right arrow icon"></i>
            Next
        </div>

        <!-- ========================end============================ -->
        <h3>Buttons</h3>

        <div class="ui buttons">
            <div class="ui button">One</div>
            <div class="ui button">Two</div>
            <div class="ui button">Three</div>
        </div>

        <!-- ========================end============================ -->
        <h3>Icons</h3>

        <div class="ui icon buttons">
            <div class="ui button"><i class="align left icon"></i></div>
            <div class="ui button"><i class="align center icon"></i></div>
            <div class="ui button"><i class="align right icon"></i></div>
            <div class="ui button"><i class="align justify icon"></i></div>
        </div>

        <div class="ui icon buttons">
            <div class="ui button"><i class="bold icon"></i></div>
            <div class="ui button"><i class="underline icon"></i></div>
            <div class="ui button"><i class="text width icon"></i></div>
        </div>

        <!-- ========================end============================ -->
        <h3>Conditionals</h3>

        <div class="ui buttons">
            <div class="ui button">Cancel</div>
            <div class="or"></div>
            <div class="ui positive button">Save</div>
        </div>

        <!-- ========================end============================ -->
        <div class="ui hover button">
            Follow
        </div>

        <div class="ui down button">
            <i class="user icon"></i>
            Follow
        </div>

        <div class="ui active button">
            <i class="user icon"></i>
            Follow
        </div>

        <div class="ui disabled button">
            <i class="user icon"></i>
            Followed
        </div>

        <div class="ui loading button">Loading Button</div>

        <!-- ========================end============================ -->
        <div class="ui facebook button">
            <i class="facebook icon"></i>
            Facebook
        </div>
        <div class="ui twitter button">
            <i class="twitter icon"></i>
            Twitter
        </div>
        <div class="ui google plus button">
            <i class="google plus icon"></i>
            Google Plus
        </div>
        <div class="ui linkedin button">
            <i class="linkedin icon"></i>
            LinkedIn
        </div>
        <div class="ui instagram button">
            <i class="instagram icon"></i>
            Instagram
        </div>
        <div class="ui youtube button">
            <i class="youtube icon"></i>
            YouTuBe
        </div>

        <!-- ========================end============================ -->
        <div class="mini ui button">Mini</div>
        <div class="tiny ui button">Tiny</div>
        <div class="small ui button">Small</div>
        <div class="medium ui button">Medium</div>
        <div class="large ui button">Large</div>
        <div class="big ui button">Big</div>
        <div class="huge ui button">Huge</div>
        <div class="massive ui button">Massive</div>

        <!-- ========================end============================ -->
        <div class="ui primary button">
            Add to Cart
        </div>
        <div class="ui secondary button">
            Save
        </div>

        <!-- ========================end============================ -->
        <div class="ui basic button">
            <i class="icon user"></i>
            Add Friend
        </div>
        <div class="ui basic button">
            <i class="icon globe"></i>
            Change Language
        </div>

        <!-- ========================end============================ -->
        <div class="ui black button">Black Button</div>
        <div class="ui green button">Green Button</div>
        <div class="ui red button">Red Button</div>
        <div class="ui blue button">Blue Button</div>
        <div class="ui purple button">Purple Button</div>
        <div class="ui teal button">Teal Button</div>
        <div class="ui orange button">Orange Button</div>

        <div class="ui toggle button">Vote</div>

        <div class="positive ui button">Positive Button</div>
        <div class="negative ui button">Negative Button</div>

        <!-- ========================end============================ -->
        <div class="fluid ui button">Fits container</div>

        <!-- ========================end============================ -->
        <div class="circular ui button">Rounded</div>
        <div class="circular ui icon button">
            <i class="icon settings"></i>
        </div>

        <!-- ========================end============================ -->
        <div class="ui top attached button">Top</div>
        <div class="ui attached segment"></div>
        <div class="bottom attached ui button">Bottom</div>

        <!-- ========================end============================ -->
        <div class="ui left attached button">Left</div>
        <div class="right attached ui button">Right</div>

        <!-- ========================end============================ -->
        <div class="ui vertical buttons">
            <div class="ui button">Top</div>
            <div class="ui button">Middle</div>
            <div class="ui button">Bottom</div>
        </div>

        <!-- ========================end============================ -->
        <div class="ui icon buttons">
            <div class="ui button">
                <i class="pause icon"></i>
            </div>
            <div class="ui button">
                <i class="play icon"></i>
            </div>
            <div class="ui button">
                <i class="shuffle icon"></i>
            </div>
        </div>

        <!-- ========================end============================ -->
        <div class="ui vertical labeled icon buttons">
            <div class="ui button">
                <i class="pause icon"></i>
                Pause
            </div>
            <div class="ui button">
                <i class="play icon"></i>
                Play
            </div>
            <div class="ui button">
                <i class="shuffle icon"></i>
                Shuffle
            </div>
        </div>

        <!-- ========================end============================ -->
        <div class="ui message">Evenly divided elements can either use the number or the word, i.e. 2 or "two"</div>

        <div class="three fluid ui buttons">
            <div class="ui button">One</div>
            <div class="ui button">Two</div>
            <div class="ui button">Three</div>
        </div>
        <div class="five fluid ui buttons">
            <div class="ui button">One</div>
            <div class="ui button">Two</div>
            <div class="ui button">Three</div>
            <div class="ui button">Four</div>
            <div class="ui button">Five</div>
        </div>
        <div class="twelve fluid ui icon buttons">
            <div class="ui button"><i class="tag icon"></i></div>
            <div class="ui button"><i class="tags icon"></i></div>
            <div class="ui button"><i class="tasks icon"></i></div>
            <div class="ui button"><i class="terminal icon"></i></div>
            <div class="ui button"><i class="text file icon"></i></div>
            <div class="ui button"><i class="text file outline icon"></i></div>
            <div class="ui button"><i class="time icon"></i></div>
            <div class="ui button"><i class="trash icon"></i></div>
            <div class="ui button"><i class="url icon"></i></div>
            <div class="ui button"><i class="user icon"></i></div>
            <div class="ui button"><i class="users icon"></i></div>
            <div class="ui button"><i class="video icon"></i></div>
        </div>

        <!-- ========================end============================ -->

        <div class="blue ui buttons">
            <div class="ui button">One</div>
            <div class="ui button">Two</div>
            <div class="ui button">Three</div>
        </div>

        <div class="ui basic buttons">
            <div class="ui button">One</div>
            <div class="ui button">Two</div>
            <div class="ui button">Three</div>
        </div>


        <div class="huge ui buttons">
            <div class="ui button">One</div>
            <div class="ui button">Two</div>
            <div class="ui button">Three</div>
        </div>
            <div class="large ui buttons">
            <div class="ui button">One</div>
            <div class="ui button">Two</div>
            <div class="ui button">Three</div>
        </div>



        
        <script src="/seajs/sea.js" data-config="/js/config" data-main="/js/index" ></script>
        

    </body>
</html>