body {
    font-family: "微软雅黑", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    background: #FCFCFC url('/img/bg.jpg') repeat;
    margin: 0px;
    padding: 0px;
    color: #555555;
    min-width: 320px;
}

p {
    font-family: "宋体";
    font-size: 14px;
    line-height: 22px;
}

.launch.button {
    position: fixed;
    top: 40%;
    z-index: 500;
    width: 70px;
}

.page.grid.mainpage {
    padding-top: 80px;
}

.footer.list.link {
    display: block;
    text-align: center;
    margin-bottom: 1.5rem;
}
