body {
    -webkit-font-smoothing: antialiased;
}

.wrapper {
    height: 100% !important;
    margin: 0 auto; 
    overflow: hidden;
}

.main section {
    overflow: hidden;
}

.main section .page_container {
    width: 980px;
    height: 500px;
    position: relative;
    top: 10%;
    margin: 0 auto;
}

.main section.page1 {
    background: url('/img/bg2.jpg') no-repeat center center;
    background-size: cover;
}

.main section.page2 {
    background: url('/img/bg1.jpg') no-repeat center center;
    background-size: cover;
}

.main section.page3 {
    background: url('/img/bg3.jpg') no-repeat center center;
    background-size: cover;
}

.ui.form {
    width: 420px;
    position: absolute;
    top: 15%;
    right: 8%;
}

.page2 .ui.form {
    right: 4%;
}

i.icon.logo {
    width: 141px;
    height: 49px;
    background: url('/img/login-logo.png');
}
.page2 .labeled.signup.button {
    position: absolute;
    right: 200px;
    top: 120px;
}

.page2 .zaiyiqi {
    position: absolute;
    left: 140px;
    top: 100px;
}

.page2 .form {
    display: none;
}