body {
    -webkit-font-smoothing: antialiased;
}

.main section {
    overflow: hidden;
}

.main section .page_container {
    width: 980px;
    height: 500px;
    position: absolute;
    left: 50%;
    top: 10%;
    margin-left: -490px;
}

.main section.page1 {
    background: url('/img/bg2.jpg') no-repeat center center;
    background-size: cover;
}

.main section.page2 {
    background: url('/img/bg1.jpg') no-repeat center center;
    background-size: cover;
}

.main section.page3 {
    background: url('/img/bg3.jpg') no-repeat center center;
    background-size: cover;
}

.ui.form {
    width: 420px;
    position: absolute;
    top: 15%;
    right: 8%;
}
i.icon.logo {
    width: 141px;
    height: 49px;
    background: url('/img/login-logo.png');
}