.main section.page1 {
    background: #00B5AD url(/img/light.png) center no-repeat;
}
.page_container {
    width: 320px;
    height: 400px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -200px 0 0 -160px;
}
.page_container .logo {
    background: url('/img/mobile-logo.png');
    width: 250px;
    height: 115px;
    margin: 0 auto;
    position: static;
    top: 0;
    left: 0;
    text-indent: -9999em;
}
.page_container .form {
    background-color: transparent;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    margin-top: 0;
    padding: 10px 20px;
}
.page_container a.header {
    text-decoration: none;
    color: #fff;
}
.page_container a.header i {
    margin-right: 0;
}
div.field1 {
    display: none;
}